html {
  font-family: "Open Sans Condensed", sans-serif;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #fff;
  padding: .5em .75em;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

main a:focus {
  outline: 3px solid #000;
}

section a:focus {
  outline: 3px solid #000;
}

article a:focus {
  outline: 3px solid #000;
}

a {
  text-decoration: none;
}

body {
  background-image: url("../images/pat.svg");
  background-repeat: repeat;
  background-size: 600px;
}

header, footer {
  background-color: #273041;
}

.deck {
  color: #fff;
  background-color: #273041;
}

.pattern {
  margin: 2em;
}

.form, .breed-info {
  background-color: #fff;
}

.border {
  border: 4px solid #273041;
}

.nav p {
  color: #fff;
}

.nav li a {
  color: #fff;
  display: block;
  padding: .5em;
  border-radius: 8px;
}

nav li {
  background-color: #629ac1;
  border-radius: 8px;
}

footer p, footer li {
  color: #fff;
}

.personality {
  display: flex;
  flex-wrap: wrap;
}

.personality li {
  flex-basis: 30%;
  padding: .2em .3em;
}

.contact-info li {
  padding: 0 .5em;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: "Amatic SC", cursive;
}

nav p {
  font-family: "Amatic SC", cursive;
}

.bg-light-blue {
  background-color: #629ac1;
}

.current {
  background-color: #11a68c;
}

.current a {
  color: #629ac1;
}

.current li {
  background-color: #f3794a;
}

.card li a {
  color: #fff;
}

.card {
  max-width: 320px;
  display: inline-block;
  margin: 1em;
}

figure {
  background-color: #fff;
  margin: 0;
  padding-bottom: 1em;
}

.card-text p {
  padding: .5em 1em;
}

.card-btn {
  background-color: #fff;
}

.adopt li {
  border: 3px solid #273041;
  border-radius: 2px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.nav-h {
  margin-bottom: .5em;
}

.nav-list {
  margin-bottom: .5em;
}

/* Nav Hover Styling */

nav li a:hover {
  background-color: #f2ba4e;
}

/* Card Hover Styling */

.card h2 {
  background-color: #629ac1;
  color: #fff;
  margin: 0;
}

.card:hover h2 {
  background-color: #273041;
}

.card:hover {
  border: 5px solid #f2ba4e;
}

.card:hover .btn {
  background-color: #f3794a;
  border-color: #f3794a;
}

/* Call to Action Styling */

.call-to-action {
  position: absolute;
  display: block;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .5);
  white-space: nowrap;
}

.call-to-action a {
  background-color: #629ac1;
  border-color: #f3e54c;
  text-align: center;
}

.call-to-action a:hover {
  background-color: #f3794a;
  border-color: #f3794a;
}

@media only screen and (min-width: 25em) {

  .call-to-action {
    position: absolute;
    display: block;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .5);
  }

}
