html {
  font-family: 'Open Sans Condensed', sans-serif;
}

header {
  background-color: #273041;
}
header h1 {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.5em;
}

.bg-light-blue {
  background-color: #629AC1;
}

.current {
  color: #fff;
  background-color: #f3794a;
}

.current li{
  background-color: #f3794a;
}

nav li {
  background-color: #F2BA4E;
  padding: .5em;
  border-radius: 8px;
  font-weight: bold;
}
li a {
  color: #fff;
}

.card {
  max-width: 320px;
  display: inline-block;
  margin: 1em;
}

.adopt li {
  border: 3pt solid #F3E54C;
  border-radius: 2pt;
}

/*Nav Hover Styling*/
nav li:hover {
  background-color: #629AC1;
}

/*Card Hover Styling*/
.card h3 {
  background-color: #629AC1;
  color: #fff;
  margin: 0;
}
.card:hover h3 {
  background-color: #273041;
}
.card:hover {
  border: 5pt solid #F2BA4E;
}

.card:hover .btn {
  background-color: #f3794a;
  border-color: #f3794a;
}

/*Call to Action Styling*/
.call-to-action {
position: absolute;
display: block;
left: 50%;
top: 90%;
transform: translate(-50%, -50%);
}

.call-to-action a {
  background-color: #629AC1;
  border-color: #F3E54C;
}
